<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정글에서 살아남기</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</head>

<body>
    <div class="flex items-center justify-center h-screen bg-black">
        <div class="flex flex-col items-center justify-center bg-white w-[420px] h-[300px]">
            <div>
                정글에서 살아남기
            </div>
            <div>
                정글에서 살아남기
            </div>
            <div>
                정글에서 살아남기
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='index.js')}}"></script>

</html>