<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정글에서 살아남기</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script type="text/javascript"></script>

</head>

<body>
    <div class="flex items-center justify-center h-screen bg-black">
        <div class="flex flex-col items-center justify-center bg-white w-[420px] h-[600px]">
            <div>
                <h1 class="flex items-center text-3xl font-extrabold dark:text-white">회원가입</h1>
            </div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form class="space-y-3" action="#" method="POST">
                    <div>
                        <div class="mt-2">
                            <input type="id" id="id"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="ID" required pattern="/^[a-z]+[a-z0-9]{5,19}$/g;">
                        </div>
                    </div>
                    <div>
                        <div class="mt-2">
                            <input type="password" id="password"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="PASSWORD" required pattern="/^(?=.*[a-zA-z])(?=.*[0-9]).{6,16}$/;">
                        </div>
                    </div>

                    <div>
                        <div class="mt-2">
                            <input type="password" id="confirm_password"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="PASSWORD 확인" required>
                        </div>
                    </div>
                    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">대소문자와 숫자를 섞어
                        6자 이상</p>
                    <p id="validation" class="text-left text-red-500 italic text-sm"></p>

                    <div>
                        <div class="mt-2">
                            <input type="name" id="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="이름" required>
                        </div>
                    </div>

                    <div>
                        <div class="mt-2">
                            <input type="email" id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="e-mail" required>
                        </div>
                    </div>





                    <div class="grid md:grid-cols-2 md:gap-6">
                        <button type="submit"
                            class="flex w-full justify-center rounded-md bg-green-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
                            가입하기</button>
                        <button type="button"
                            class="flex w-100 justify-center rounded-md bg-green-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
                            style="display :inline-block;" onclick="window.location.href=`{{ url_for('login') }}` ">
                            뒤로가기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    $("#confirm_password").on("keyup", function () {
        let pwd = $('#password').val()
        let pwd2 = $('#confirm_password').val()
        if (pwd !== pwd2) {
            $("#validation").html("비밀번호가 일치하지 않습니다").show();
        }
        else {
            $("#validation").hide()
        }
    });
</script>

</html>